* {
    outline:none;
    font-family:"Helvetica Neue", "HelveticaNeue", "Helvetica", "Roboto", "Segoe UI", sans-serif;
}
html, body {
    width:100vw;
    min-height:100vh;
    padding:0;
    margin:0;
}
body {
    display:flex;
    flex-direction:column;
}
nav {
    padding:1em;
    margin:0;
    margin-bottom:1em;
    background-color:#EFEFEF;
    border-bottom:1px #000000 solid;
}
nav>a {
    font-size:1.75em;
    color:inherit;
    text-decoration:none;
    font-weight:bold;
}
a.logout {
    font-size:1em;
    margin-left:1em;
}
#loginAndSell {
    flex:1;
    text-align:center;
    display:flex;
    justify-content:center;
    align-items:center;
}
#tbhs {
    flex:1;
    padding:1em;
}
#tbhList {
    padding-top:1em;
    padding-bottom:1em;
    background-color:#E5E5E5;
    border-radius:1.5em;
}
#tbhList>li {
    display:flex;
    list-style:none;
    border-bottom:0.5px solid #000;
    padding-left:1em;
    padding-right:1em;
    border-top:0.5px solid #000;
}
.tbhControls {
    display:flex;
    flex-direction:column;
    height:100%;
    margin-right:0.25em;
    text-align:center;
    color:black;
}
.tbhControls>* {
    color:inherit;
    display:block;
    text-decoration:none;
    font-weight:bold;
}
.likedtrue {
    color:red;
}
.liData {
    display:flex;
    flex:1;
}
.liDataEqual {
    flex:1;
}
#tbhList>li:nth-child(1) {
    border-top:none;
}
#tbhList>li:nth-last-child(-n+1) {
    border-bottom:none;
}
.tbhText {
    flex:2;
    margin-right:0.5em;
}
.tbhName {
    margin-right:0.5em;
}
.tbhLabel {
    display:block;
    margin-right:0.25em;
    font-weight:bold;
}
button {
    font-size:1.5em;
    padding:1em;
    margin:1em;
    border-radius:0.5em;
    border:none;
}
#btn0 {
    background-color:#03D8FF;
}
#btn1 {
    background-color:#09E8CE;
}